@inherits LayoutComponentBase

<PageTitle>BikeRentalServerAppUI</PageTitle>

<div class="page">
    <main>
        <div>
            <LoginDisplay />
        </div>
        <article class="content">
            @Body
        </article>
    </main>
</div>
