<div class="container-fluid">
    <div class="row h-25">
        <div class="col-12 header-container">
            <div class="landing-title">
                <span>BikePlease</span>
            </div>
            <div class="landing-subtitle">
                <span>Poland's best bike rental app.</span>
            </div>    
        </div>
    </div>
    <div class="row h-75 justify-content-center align-items-center landing-nav">
        <div class="col-10">
            <a class="primary-button" href="/MicrosoftIdentity/Account/SignIn">
                Login
            </a>
            <a class="secondary-button" href="#">
                Learn More
            </a>
        </div>
    </div>    
</div>