@page "/"
@inject IUserData userData
@inject AuthenticationStateProvider authProvider
@attribute [Authorize]
<PageTitle>Index</PageTitle>

<div class="container-fluid wrapper">
    <div class="main-content">
        You have been logged in.
    </div>    
</div>

