@page "/"

<PageTitle>Index</PageTitle>
<div class="header">
    <div class="landing-title">
        BikePlease
    </div>
    <div class="landing-subtitle">
        Poland's best bike rental app.
    </div>
</div>



